{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h1>About UCLex</h1>
        <div class="row" style="font-size: 16px;">
            <div>
                <p>
                    The UCL Exome (UCLex) Consortium is a coalition of investigators seeking to aggregate and harmonize exome sequencing data from a variety of large-scale sequencing projects, and to make summary data available for the wider scientific community.
                </p>
                <p>
                    The data set provided on this website spans <span class="number_samples">4539</span> individuals sequenced as part of various disease-specific and population genetic studies.  All of the raw data from these projects have been reprocessed through the same pipeline, and jointly variant-called to increase consistency across projects.
                </p>
                <p>
                    A list of the UCLex Principal Investigators and groups that have contributed data to the current release is available below.
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
            </div>
            <p>
            </p>
            <p>
                For bug reports, please file an issue on <a href="https://github.com/pontikos/uclex_browser/issues">Github</a>.
            </p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>UCLex Principal Investigators</h4>
                <ul>
                    <li>Tony Segal</li>
                    <li>Andrew Webster</li>
                    <li>Gavin Arno</li>
                    <li>Alison Hardcastle</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Contributing projects</h4>
                <ul>
                    <li>Institue of Ophthalmology</li>
                    <li>Tony Segal Lab</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Production team</h4>
                <ul>
                    <li>Nikolas Pontikos</li>
                    <li>Vincent Plagnol</li>
                </ul>
                <h4>Analysis team</h4>
                <ul>
                    <li>Nikolas Pontikos</li>
                    <li>Vincent Plagnol</li>
                    <li>Doug Speed</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Website team</h4>
                <ul>
                    <li>Nikolas Pontikos</li>
                </ul>
                <h4>Ethics team</h4>
                <ul>
                    <li></li>
                </ul>
                <h4>UCL Computer Science Cluster</h4>
                <ul>
                    <li>Tristan Clarck</li>
                    <li>David Gregory</li>
                </ul>
                <br>
                <h4>Funding</h4>
                <ul>
                    <li> (PI: Vincent Plagnol)</li>
                </ul>
            </div>

        </div>
    </div>

{% endblock %}
