{% extends "layout.html" %}
{% block body %}
    <script>
        $('#navbar_form_container').hide();
    </script>
    <div class="container">
        <h1 id="home-title">UCLex Browser | <a href="/about" style="color: black;">UCL exomes</a></h1>
        <div class="row">
            <div class="col-md-12">
                <div id="home-searchbox">
                    <form action="/awesome">
                        <input type="submit" style="display: none;"/>
                        <input id="home-searchbox-input" name="query" class="form-control input-lg awesomebar" type="text" placeholder="Search for a gene or variant or region"/>
                        <input type="submit" style="position: absolute; left: -9999px"/>
                    </form>
                    <p class="text-muted">
                        Examples - HPO: <a href="/awesome?query=HP:0000639">HP:0000639</a>,
                        Gene: <a href="/awesome?query=PCSK9">PCSK9</a>,
                        Transcript: <a href="/transcript/ENST00000407236">ENST00000407236</a>,
                        Variant: <a href="/variant/22-38212762-A-G">22-38212762-A-G</a>,
                        Multi-allelic variant: <a href="/awesome?query=rs1800234">rs1800234</a>,
                        Region: <a href="/region/22-46615715-46615880">22:46615715-46615880</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="font-size: 16px;">
            <div class="col-md-8">
                <h3 align="center"> <a href="/about" style="color: black;">About UCLex</a></h3>
                <div>
                    <p>
                        The <a href="/about">UCL exomes consortium</a> (UCLex) is a coalition of investigators seeking to aggregate and harmonize exome sequencing data and phenotypes.
                    </p>
                    <p>
                    The current release of UCLex contains {{ total_variants }} variants seen in {{ total_patients }} patients sequenced as part of various disease-specific genetic studies.
                    The Principal Investigators and groups that have contributed data to the current release are listed <a href="/about">here</a>.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h3 align="center">Recent News</h3>
                <h4>December 1, 2015</h4> - First launch!
                <h4>February 8, 2016</h4> - Demo in Oxford at the UKIRDC in Oxford.
            </div>
        </div>
    </div>
{% endblock %}
